.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  .loader-circle {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loader-circle-animation 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent #fff #fff;
  }
  
  @keyframes loader-circle-animation {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  